@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    background: rgb(251,255,177);
    background: radial-gradient(circle at 40px 40px, rgba(251,255,177,1) 0%, rgba(255,191,169,1) 75%, rgba(255,172,172,1) 100%) fixed;
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    color:#b4a67e;
    animation: float 3.5s infinite ease-in-out;
    position: relative;
    text-align: center;
    
    text-shadow: -1px -1px 0px rgba(255,191,169,1),3px 3px 0px rgba(255,191,169,1),6px 6px 0px rgba(255,191,169,1);
}

.rules{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.rules>div{
    background-color: rgba(255,172,172,1);
    padding: 3px 5px;
    border-style: solid;
    border-color: rgb(129, 127, 127);
    border-radius: 5px;
    border-width: 2px;
    margin:12px 0px;
}

div.flexcontai{
    margin:auto;
    align-content: center;
    text-align: center;
    width:500px;
    height:500px;
    border-color: black;
    border-style: solid;
}

button{
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(255,172,172,1);
    transition-duration: 0.2s;
    padding:7px 6px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(255,172,172,1);
}

button:hover{
    background-color: white;
    color: black;
}